// GLOBAL STYLES 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

// COLOR PALETTE
/* SCSS HEX */
$raisin-black: #161925ff;
$prussian-blue: #23395bff;
$queen-blue: #406e8eff;
$cadet-grey: #8ea8c3ff;
$aero-blue: #cbf7edff;

// FONTS
html, body {
    font-family: 'Lato', sans-serif !important;
    color: $raisin-black !important;
    text-align: center;
}


// UI ELEMENTS 
a {
    color: $raisin-black !important;
    &:hover {
        color: $queen-blue !important;
    }
}

button {
    border: none;
    background-color: none;
    padding: 0px;
}

.bold-heading {
    font-weight: 900 !important;
    font-size: 1.5em;
    color: $prussian-blue;
}


.semibold-heading {
    font-weight: 500 !important;
    font-size: 1.2em;
}

.btn {
    background-color: $prussian-blue;
    color: $aero-blue !important;
    border: none !important;
    &:hover {
        background-color: $aero-blue;
        color: $raisin-black !important;
    }
}



// HEADER
header {
    position: fixed;
    width: 100%;
    background-color: $prussian-blue;
    z-index: 2;
    border-bottom: solid 1px $cadet-grey;
    color: $aero-blue;
    nav {
        padding: 10px;
        .nav {
            justify-content: space-between;
                .logo {
                    a {
                    color: $aero-blue !important;
                    }
                }
        }
        .shopping-list-nav {
            display: flex;
            align-items: center;
            background: $aero-blue;
            border-radius: 10px;
            padding: 0px 10px 0px 0px;
            transition: all 0.2s ease;
            &:hover {
                background-color: $cadet-grey;
                a {
                    color: $aero-blue !important;
                }
                .meal-count {
                    color: $aero-blue !important;
                }
                transition: all 0.2s ease;
            }
            a {
                color: $raisin-black !important;
            }
            .meal-count {
                padding: 0px 5px 0px 0px;
                color: $raisin-black !important;
                transition: all 0.2s ease;
            }
        }
    }
}

.card {
    margin: 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-height: 400px;
    &-title {
        font-weight: 900;
        font-size: 1.5em;
        letter-spacing: .2em;
    }
    &-text {
        font-weight: 400;
        color: $raisin-black !important;
    }
    &-img-top {
        height: 300px;
        object-fit: cover;
    }
    &-links {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
}


main {
    padding-top: 80px;
    #hero {
        padding: 20px 0px;
        text-align: center;
        .row {
            margin: 0px 0px 20px 0px;
        }
        .featured-meal-row {
            display: flex;
            justify-content: center;
        }
        #featured-meal {
            display: flex;
            justify-content: center;
        }
    }
    #main-meals {
        .cuisine-row {
            margin: 0px 0px 15px 0px;
        }
        #cuisine-filter {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .cuisine-item {
                padding: 5px 10px !important;
                margin: 5px !important;
            }
        }
        #search-bar-container {
            position: relative;
            width: 100%;
            justify-content: center;
            .easy-autocomplete {
                width: 100% !important;
                text-align: left;
                ul {
                    list-style: none;
                }
                li {
                    color: $cadet-grey;
                    font-weight: 100;
                    &:hover {
                        cursor: pointer;
                        background: $aero-blue;
                    }
                }
            }
            #search-input {
                width: 100%;
                position: relative;
            }
            .input-group {
                width: 100%;
            }
            .search-form {
                width: 100% !important;
            }
            input {
                border: none;
                outline: none;
                box-shadow: none;
                color: $prussian-blue;
                padding-left: 50px;
                font-weight: 700;
                border-bottom: solid 1px $cadet-grey;
                font-size: 1.5em;
            }
            #search-icon {
                position: absolute;
                font-size: 1.5em;
                color: $prussian-blue;
                left: 0px;
                z-index: 1;
                top: 5px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    #recipe-card-container {
        position: relative;
    }

    #shopping-list {
        text-align: left;
        .offcanvas {
            padding: 20px;
            overflow: scroll;
        }
        .meal-line, .ing-line {
            display: flex;
            justify-content: space-between;
            font-size: 1em;
        }
        .delete-meal, .delete-ing {
            transition: all 0.3s ease;
            &:hover {
                color: $prussian-blue;
                cursor: pointer;
                transition: all 0.3s ease;
            }
        }

    }
}
